.pagination-btn {
    background: white;
    border: 1px solid black;
    padding: 5px 14px;
    border-radius: 20px;
    cursor: pointer;
}

.pagination-btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.pagination-text {
    font-size: 18px;
}
