.content-box {
  height: 100vh;
  margin: 0 auto;
  /*center*/
  border: 1px solid black;
 
}

.register-content {
  padding-left: 150px;
  padding-right: 150px;
  font-family: "Happy Monkey", sans-serif !important;
}

.register-content > * {
  margin-top: 20px;
  padding-left: 0;
}

.right-pic {
  height: 100vh;
  overflow: hidden;
  padding: 0;
}

.right-pic > img {
  /* 100 from parent */
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.underline-input {
  border: none !important;
  border-bottom: 1px solid #413939 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  margin-bottom: 15px;
  padding-left: 0;
}

#last-input input {
  margin-bottom: 0;
}

#last-input .underline-input {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #000;
}

#last-input .underline-input:focus {
  outline: none;
  border-bottom: 2px solid #d2691e;
}

.login-button {
  background-color: #d2691e;
}

.login-button:hover {
  background-color: #e2c1c1;
}

.register-button {
  margin: top 2px;
}

.google-icon {
  color: #d2691e;
}

/* wenn width<= 1200px */
@media (max-width: 1200px) {
  .content-box {
    transform: scale(0.9);
    transform-origin: top left;
  }
}

/* wenn width<= 992px  */
@media (max-width: 992px) {
  .right-pic {
    display: none;
  }

  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .register-content{
    padding: 2px;
  }

  .content-box {
   margin: 9% !important;
   padding: 2%;
  height: 850px;
  }
}

.check label {
  display: flex;
  align-items: center; /* vertical center */

  gap: 10px; /* between checkbox and text */
  cursor: pointer;
}

.check input[type="checkbox"] {
  appearance: none; /* remove default style from broswer */
  width: 25px;
  height: 25px;
  border: 2px solid;
  background-color: white;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

/* checked */
.check input[type="checkbox"]:checked {
  background-color: green;
  border-color: green;
}

/* checked */
.check input[type="checkbox"]:checked::after {
  content: "✔";
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.check span {
  font-size: small;
}

/* alert message */
.custom-alert {
  background-color: #d2691e !important;
  padding: 15px 20px;
  border-radius: 8px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 25%; /* half from leftside，25% von whole page */
  transform: translate(-50%, -50%);
  width: 30%;
  padding-right: 40px;

  z-index: 999;
}

.btn-close-white {
  opacity: 1;

  /* warum? red -> white */
  border: 2px solid rgb(214, 31, 31);
}

.alert-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
