

.footer {
    font-family: "Happy Monkey", sans-serif !important;
    margin-left: 10%;
     margin-right: 10%;
    
}

.footer .card {
  border: none !important;
    
}

.footer a{
   
    margin-right: 3%;
 
    border: 2px solid #d2691e;
   
   
}


.footer a:hover {
    transform: scale(1.1);
     background-color: #d2691e !important;
     opacity: 1;
    
}

.footer-img-frame > img{
  width: 300px; 
  height: 200px; 
  overflow: hidden; /* hide when pic overflow*/
  border-radius: 8px;
}

@media (max-width: 576px) {
  .footer .row.g-5 {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
  }
}