.content-box {
  height: 90vh;
  margin: 0 auto;
  /*center*/
  border: 1px solid black;
  zoom: 0.9;
}

.login-content {
  padding-left: 150px;
  padding-right: 150px;
  font-family: "Happy Monkey", sans-serif !important;
}

.login-content > * {
  margin-top: 20px;
}


.right-pic {
  height: 100vh;
  overflow: hidden;
  padding: 0;
}

.right-pic > img {
  /* 100 from parent */
  height: 100%;
  width: 100%;
  object-fit: fill;
}


.underline-input {
  border: none !important;
  border-bottom: 1px solid #413939 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding-left: 0;
}

/* placeholder turn transparent when the cursor is in the input field  */
.underline-input:focus::placeholder{
  color: transparent;
}



.login-button {
  background-color: #d2691e;
}

.login-button:hover {
  background-color: #e2c1c1;
}

.register-button {
  margin: top 2px;
}

.google-icon {
  color: #d2691e;
}

@media (max-width: 1200px) {
  .content-box {
    transform: scale(0.9);
    transform-origin: top left;
  }
}

@media (max-width: 992px) {
  .right-pic {
    display: none;
  }

  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

   .login-content{
    padding: 2px;
  }

  .content-box {
   margin: 9% !important;
   padding: 2%;
  height: 700px;
  }
}

/* Register */
.check input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: green;
  /* checked status */
}

.check span {
  font-size: small;
}
